__pycache__/
.vscode/
backup_env/
TestFiles/
TestData/
python3.12backup/
python313t/
.virtualenvs/
typings/
LammpsReferenceFile/
.pytest_cache/

.vimrc
.env
*.log
*.pyc
Python.zip
__init__.py
.json
.inp
.lmp